
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/tests/framework1/
/allure-report/
/allure-results/
/framework/
/tests/APIUrbuddi.framework.spec.js
/API_framework/config/config.json
/API_framework/testData/Adminlogin.json